
header{
    padding: 10px 100px;
    box-sizing: border-box;
    top: 0;
    nav{
        display: flex;
        
        height: 60px;
        align-items: center;
        ul{
            
        }
    }
}

.sticky{
    padding: 5px 100px;
    background-color: #fff;
    z-index: 100;
    a{
        color: var(--dark-color);
    }

    p.logo{
        color: var(--dark-color);
    }
}
.sticky nav button svg{
    color: var(--dark-color);
}

.intro-img-shape{
    position: absolute;
    width: 360px;
    height: 360px;
    right: 0;
    left: 0;
    bottom: -30px;
    background-color: #D9832E;
    margin: 0 auto;
    border-radius: 75% 20px 0px 20px;
    rotate: 44.5deg;
    z-index: 1;
    border: 10px solid var(--dark-color-light);
    
}
img.intro-img{
   position: absolute;
   width: 70%;
   height: auto;
    z-index: 999;
    right: 0;
    left: 1%;
    margin: 0 auto;
    bottom: -11%;
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 80%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 58%, 50% 100%, 0 60%, 0 0);
   
}  
