.home-section{
    .home-area{
        background-image: url(../img/home-banner\ -\ dark.jpg);
        background-size: cover;
        
        padding-top: 355px;
        padding-bottom: 344px;

        .home-area-content{
            h6{
                font-size: 18px;
                color: var(--theme-color);
            }
            h1{
                font-size: 60px;
            }

            p{
                width: 90%;
                color: #f1f1f1;
            }

            .home-btn a{
                 color: var(--white);
            }
        }
    }
    .home-area-2{
        background-image: url(../img/1.jpg);
        background-size: cover;
        
        padding-top: 355px;
        padding-bottom: 344px;

        .home-area-content{
            
            h1{
                font-size: 60px;
            }

            p{
                width: 90%;
                color: #f1f1f1;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .home-btn a{
                 color: var(--white);
                 
            }

            .work-btn{
                margin-right: 30px;
            }
        }
    }

}