.testimonial{}

.testimonial-2{
    &-slider{
        display: flex;
       
        &-item{
            padding: 30px;  
        }
        &-box{
            &-authore{
                display: flex;
                margin-bottom: 30px;
                img{
                    width: 70%;
                    border-radius: 50%;
                }
                

                &-text{
                    margin-top: 15px;
                    h5{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                        text-transform: capitalize;
                    }
                }
            }

            &-text{
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 30px;
            }

            h6.testimonial-2-slider-sub-title{
                font-size: 14px;
            }
        }
    }
}