
// color
.bg-trans{
    background-color: transparent;
}
.bg-amber{
    background-color: var(--theme-color);
}
.bg-green{
    background-color: var(--theme-color-2);
}



// z index

.z-1{
    z-index: 1;
}
.z-10{
    z-index: 10;
}
.z-100{
    z-index: 100;
}

// opacity

.opacity-50{
    opacity: 50%;
}

// text
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-green{
    color: var(--theme-color-2);
}

.text-amber{
    color: var(--theme-color);
}
.text-white{
    color: var(--white-color);
}
.text-gray{
    color: var(--gray-color);
}

.text-p{
    color: var(--icon-color-p);
}
.text-b{
    color: var(--icon-color-b);
}

.hover-text-white:hover{
    color: var(--white-color);
}

// font size

.text-xs{
    font-size: 12px;
    line-height: 16px;
}

.text-sm{
    font-size: 14px;
    line-height: 20px;

}
.text-base{
    font-size: 16px;
    line-height: 24px;

}
.text-lg{
    font-size: 18px;
    line-height: 28px;

}
.text-xl{
    font-size: 20px;
    line-height: 28px;

}
.text-2xl{
    font-size: 24px;
    line-height: 32px;

}
.text-3xl{
    font-size: 30px;
    line-height: 36px;

}
.text-4xl{
    font-size: 36px;
    line-height: 40px;

}
.text-5xl{
    font-size: 48px;
    line-height: 1;

}
.text-6xl{
    font-size: 60px;
    line-height: 1;

}
.text-7xl{
    font-size: 72px;
    line-height: 1;

}
.text-8xl{
    font-size: 96px;
    line-height: 1;

}
.text-9xl{
    font-size: 128px;
    line-height: 1;

}


// float
.float-right{
    float: right;
}


// Display
.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}


.hidden{
    display: none;
}


// position
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.fixed{
    position: fixed;
}

.static{
    position: static;

}

.sticky{
    position: sticky;
}

.top-0{
    top: 0;
}
.left-0{
    left: 0;
}
.bottom-0{
    bottom: 0;
}
.right-0{
    right: 0;
}
.right-md{
    right: 10%;
}
.right--md{
    right: -10%;
}
.left--md{
    left: -10%;
}

// rotate
.rotate--90{
    rotate: -90deg;
}


// border
.border-0{
    border: none;
}
.border-2{
    border: 2px;
}
.border-4{
    border: 4px;
}
.border-6{
    border: 6px;
}


// border color
.border-primary{
    border-color: var(--theme-color);
}
.border-secondary{
    border-color: var(--theme-color-2);
}


// container
.container-nav{
    width: 1600px;
    margin: 0 auto;
}

// radius
.rounded{
    border-radius: 4px;
}
.rounded-md{
    border-radius: 6px;
}
.rounded-t-lg{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.rounded-b-lg{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.rounded-l-lg{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.rounded-r-lg{
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.rounded-lg{
    border-radius: 8px;
}
.rounded-full{
    border-radius: 50%;
}
.rounded-medium{
    border-radius: 50px;
}

//  Margin
.m-0{
    margin: 0;
}
.my-1{
    margin-top: 4px;
    margin-bottom: 4px;
}

.my-2{
    margin-top: 8px;
    margin-bottom: 8px;
}

.my-3{
    margin-top: 12px;
    margin-bottom: 12px;
}
.my-4{
    margin-top: 16px;
    margin-bottom: 16px;
}
.my-md{
    margin-top: 50px;
    margin-bottom: 50px;
}
.my-lg{
    margin-top: 80px;
    margin-bottom: 80px;
}
.my-xl{
    margin-top: 120px;
    margin-bottom: 120px;
}
.my-xxl{
    margin-top: 160px;
    margin-bottom: 160px;
}

// Padding
.p-0{
    padding: 0;
}
.py-1{
    padding-top: 4px;
    padding-bottom: 4px;
}

.py-2{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-3{
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-4{
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-5{
    padding-top: 24px;
    padding-bottom: 24px;
}
.py-6{
    padding-top: 30px;
    padding-bottom: 30px;
}


.py-md{
    padding-top: 50px;
    padding-bottom: 50px;
}
.py-lg{
    padding-top: 80px;
    padding-bottom: 80px;
}
.py-xl{
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-2xl{
    padding-top: 120px;
    padding-bottom: 120px;
}
.py-3xl{
    padding-top: 160px;
    padding-bottom: 160px;
}


.px-1{
    padding-right: 4px;
    padding-left: 4px;
}

.px-2{
    padding-right: 8px;
    padding-left: 8px;
}

.px-3{
    padding-right: 12px;
    padding-left: 12px;
}
.px-4{
    padding-right: 16px;
    padding-left: 16px;
}
.px-5{
    padding-right: 24px;
    padding-left: 24px;
}
.px-6{
    padding-right: 30px;
    padding-left: 30px;
}


.px-md{
    padding-right: 80px;
    padding-left: 80px;
}
.px-xl{
    padding-right: 120px;
    padding-left: 120px;
}
.px-xxl{
    padding-right: 160px;
    padding-left: 160px;
}

.px-auto{
    padding: auto;
}

.pyx4{
    padding: 6px 24px;
}





.hover:amber{
    color: var(--theme-color-2);
}
.hover:green{
    color: var(--theme-color);
}

// Width

.w-20px{
    width: 20px;
}

.w-30px{
    width: 30px;
    height: 30px;
}
.w-50px{
    width: 50px;
    height: 50px;
}

