@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root{
    --theme-color:#D9832E;
    --theme-color-2:#24E98C;
    --theme-color-3:#124F33;

    --white-color:#fff;
    --gray-light-color:#EAEDF2;
    --gray-color:#616161;
    --dark-color:#000;
    --dark-color-2:#111111;
    --dark-color-3:#222;
    --dark-color-light:#1f1f1f;



    --h1-fs:36px;
    --h2-fs:24px;
    --h3-fs:18px;
    --h4-fs:16px;
    --h5-fs:15px;
    --h6-fs:14px;

    --ragular-f:15px;
    --medium-f:16px;
    --small-f:14px;
    --smaller-f:12px;


    --light-fw:300;
    --ragular-fw:400;
    --medium-fw:500;
    --bold-fw:700;
}


body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--dark-color-light);
}

html {
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;
    color: var(--white-color);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.typing-heading{
    
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid #212121;
	animation: cursor 1s step-start infinite, 
    text-style 5s steps(18) alternate infinite;
}


@keyframes text-style {
	0% { 
    width: 0; 
  }
	100% { 
    width: 21.5ch; 
  }
}

.c-primary{
    color: #24E98C;
}

.th-btn{
    color: var(--theme-color);
    border: 2px solid var(--white-color);
    padding: 5px 20px;
     
}

.th-btn:hover{
    background-color: var(--theme-color)

}

.th-title{

    color: var(--theme-color); 
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0 2px 8px var(--theme-color);
    margin-bottom: 30px;
    text-transform: uppercase;
    
}

.th-slider{
    display: flex;
    font-size: 18px;
    color: var(--white-color); 
    padding: 10px 20px;
    border-radius: 50px;
    // display: inline-block;
    box-shadow: 0 2px 8px var(--theme-color);
    margin-bottom: 30px;
    text-transform: uppercase;
    
}



.th-title:hover {
    background: var(--theme-color);
    color: var(--white-color);
  }

.th-color{
    color: var(--theme-color-2);
}

.sub-title{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

button.slick-next.slick-arrow {
    display: none;
}

.slick-next.slick-arrow,
.slick-prev.slick-arrow{
    display: none !important;
}

.skills,
.services-2,
.testimonial-2,
.about-2,
.intro-area,
.intro-area-2{
    display: grid;
    place-items: center;
    align-items: center;
}
.th-title-3{
    font-size: 16px;
    color: var(--theme-color); 
    padding: 10px 20px;
    border-radius: 50px;
    display: inline-block;
    border-bottom: 2px solid var(--theme-color);
    border-left: 2px solid var(--theme-color);
    border-right: 2px solid var(--theme-color-2);
    border-top: 2px solid var(--theme-color-2);
    border-width: 70% 100% 70% 100% ;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.th-title-3:hover{
    border-bottom: 2px solid var(--theme-color-2);
    border-left: 2px solid var(--theme-color-2);
    border-right: 2px solid var(--theme-color);
    border-top: 2px solid var(--theme-color);
    transition: .3s;
    color: var(--theme-color-2);
}

.th-title-3 svg{
    color: var(--theme-color-2);
    margin-right: 5px;
}
.th-title-3:hover .th-title-3 svg{
    color: var(--theme-color);
}


a.active-menu{
    color: var(--theme-color-2);
    box-shadow: 0 2px 8px var(--theme-color);
    border-radius: 50px;
    background-color: #fff;
  }

  .container-intro{
    max-width: 768px;
  }
  




// sass --watch assets/scss/style.scss assets/css/style.css










@import "header";
@import "home";
@import "about";
@import "skills";
@import "services";
@import "project";
@import "testimonial";
@import "pricing";
@import "clients";
@import "flick-slider";
@import "card";
@import "multiscroll";
@import "footer";

