/* Small */
@media screen and (min-width: 576px) {

}

/* Medium */
@media screen and (min-width: 768px) {

    /* Utilities */
    .section-title-6 {
        font-size: 48px;
    }

    /* Intro Area */
    :root{

    
    
    
        --h1-fs:48px;
        --h2-fs:36px;
        --h3-fs:24px;
        --h4-fs:18px;
        --h5-fs:16px;
        --h6-fs:14px;
    
        --ragular-f:15px;
        --medium-f:16px;
        --small-f:14px;
        --smaller-f:12px;
    
    
        --light-fw:300;
        --ragular-fw:400;
        --medium-fw:500;
        --bold-fw:700;
    }
    /* CTA Area */


    /* Contact Area */


    /*About Area*/


    /*Footer Area*/

}

/* Large */
@media screen and (min-width: 992px) {

    /* Utilities */
    :root{

        --h1-fs:60px;
        --h2-fs:48px;
        --h3-fs:36px;
        --h4-fs:24px;
        --h5-fs:18px;
        --h6-fs:14px;
    
        --ragular-f:15px;
        --medium-f:16px;
        --small-f:14px;
        --smaller-f:12px;
    
    
        --light-fw:300;
        --ragular-fw:400;
        --medium-fw:500;
        --bold-fw:700;
    }
    
    /* Header Area */
   
    /* Banner Area */
    
    /* Work Area */
    
    /* Services Area */
    .services-area-2 a {
        font-size: 40px;
    }
    .services-area-3 .shape {
        display: block;
    }
    .services-accordion .accordion-button {
        font-size: 30px;
    }

    /*Process Area*/
    
    /*About Area*/
    

   
   
    /*Portfolio area*/
    

    /* Footer Area */
    
}

/* Extra large */
@media screen and (min-width: 1200px) {

    .header-right{
        display: flex;
    }

    /* Intro Area */
    :root{

        --h1-fs:80px;
        --h2-fs:60px;
        --h3-fs:48px;
        --h4-fs:36px;
        --h5-fs:20px;
        --h6-fs:16px;
    
        --ragular-f:15px;
        --medium-f:16px;
        --small-f:14px;
        --smaller-f:12px;
    
    
        --light-fw:300;
        --ragular-fw:400;
        --medium-fw:500;
        --bold-fw:700;
    }
    

    /*About area*/


    /*Portfolio area*/


}

/* Extra extra large */
@media screen and (min-width: 1400px) {

    /* Utilities */
    .section-title {
        font-size: 50px;
    }
    .section-title-2 {
        font-size: 68px;
    }
    .section-title-3 {
         font-size: 55px;
     }
    .section-title-4 {
        font-size: 60px;
    }
    .section-title-5 {
        font-size: 65px;
    }
    .section-item-title {
        font-size: 60px;
    }
    .section-item-title-2 {
        font-size: 50px;
    }


    /* Header-Area*/
    .header-left{
        display: flex;
        position: fixed;
    }
    /* Services Area */


    /* Work Area */
   
    /* Contact Area */

}