/* Small */

@media screen and (min-width: 576px) {

}

/* Medium */
@media screen and (min-width: 768px) {

    /* Utilities */
    .section-title-6 {
        font-size: 48px;
    }
.container-intro{
    max-width: 768px;
}
.md-w-60{
    width: 60%;
}



.md-flex{
    display: flex;
}




    /* Intro Area */
    :root{

        --h1-fs:48px;
        --h2-fs:36px;
        --h3-fs:24px;
        --h4-fs:18px;
        --h5-fs:16px;
        --h6-fs:14px;
    
        --ragular-f:15px;
        --medium-f:16px;
        --small-f:14px;
        --smaller-f:12px;
    
    
        --light-fw:300;
        --ragular-fw:400;
        --medium-fw:500;
        --bold-fw:700;
    }
    /* CTA Area */


    /* Contact Area */


    /*About Area*/


    /*Footer Area*/

}

/* Large */
@media screen and (min-width: 992px) {
    
    /* Utilities */
    :root{

        --h1-fs:60px;
        --h2-fs:48px;
        --h3-fs:36px;
        --h4-fs:24px;
        --h5-fs:18px;
        --h6-fs:14px;
    
        --ragular-f:15px;
        --medium-f:16px;
        --small-f:14px;
        --smaller-f:12px;
    
    
        --light-fw:300;
        --ragular-fw:400;
        --medium-fw:500;
        --bold-fw:700;
    }
    .nav-list{
        display: flex;
    }
    .md-hidden{
        display: none;
    }
    /* Header Area */

    .header-left{
        max-width: 280px;
        top: 0;
        bottom: 0;
        height: 100vh;
        
        align-items: center;
        left: 30px;
    }

    .hero-area{
        padding-top: 80px;
    }

          .intro-img-shape{
            position: absolute;
            width: 260px;
            height: 260px;
            left: 10px;
            bottom: 0;
            background-color: #D9832E;
           
            border-radius: 20px 20px 0px 20px;
            rotate: 44.5deg;
            z-index: 1;
            border: 10px solid var(--dark-color-light);
        }
        img.intro-img{
           position: absolute;
           width: 100%;
           height: auto;
            z-index: 999;
            right: -4px;
            bottom: -40px;
            -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 80%, 0 0);
            clip-path: polygon(50% 0%, 100% 0, 100% 58%, 50% 100%, 0 60%, 0 0);
           
        }
    /* Banner Area */
    .hero-area-img {
        width: 100%;
        margin: 80px auto;
    }


    /* Work Area */
    
    /* Services Area */
    .services-area-2 a {
        font-size: 40px;
    }
    .services-area-3 .shape {
        display: block;
    }
    .services-accordion .accordion-button {
        font-size: 30px;
    }

    /*Process Area*/
    
    /*About Area*/
    

   
   
    /*Portfolio area*/
    

    /* Footer Area */
    
}

/* Extra large */
@media screen and (min-width: 1200px) {

    .header-right{
        display: flex;
    }

    /* Intro Area */
    :root{

       
        --h1-fs:60px;
        --h2-fs:48px;
        --h3-fs:36px;
        --h4-fs:20px;
        --h5-fs:16px;
    
        --ragular-f:15px;
        --medium-f:16px;
        --small-f:14px;
        --smaller-f:12px;
    
    
        --light-fw:300;
        --ragular-fw:400;
        --medium-fw:500;
        --bold-fw:700;
    }
    
    .hero-area-img {
        width: 70%;
        
    }
    /*About area*/


    /*Portfolio area*/


}

/* Extra extra large */
@media screen and (min-width: 1400px) {

    /* Utilities */
    .section-title {
        font-size: 50px;
    }
    .section-title-2 {
        font-size: 68px;
    }
    .section-title-3 {
         font-size: 55px;
     }
    .section-title-4 {
        font-size: 60px;
    }
    .section-title-5 {
        font-size: 65px;
    }
    .section-item-title {
        font-size: 60px;
    }
    .section-item-title-2 {
        font-size: 50px;
    }


    /* Header-Area*/
    
    /* Services Area */


    /* Work Area */
   
    /* Contact Area */

}

