@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
:root {
  --theme-color:#D9832E;
  --theme-color-2:#24E98C;
  --theme-color-3:#124F33;
  --white-color:#fff;
  --gray-light-color:#EAEDF2;
  --gray-color:#616161;
  --dark-color:#000;
  --dark-color-2:#111111;
  --dark-color-3:#222;
  --dark-color-light:#1f1f1f;
  --icon-color-p:#ff61f6;
  --icon-color-b:#2fa3f7;
  --h1-fs:36px;
  --h2-fs:24px;
  --h3-fs:18px;
  --h4-fs:16px;
  --h5-fs:15px;
  --h6-fs:14px;
  --ragular-f:15px;
  --medium-f:16px;
  --small-f:14px;
  --smaller-f:12px;
  --light-fw:300;
  --ragular-fw:400;
  --medium-fw:500;
  --bold-fw:700;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--dark-color-light);
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.typing-heading {
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 1s step-start infinite, text-style 5s steps(18) alternate infinite;
}

@keyframes text-style {
  0% {
    width: 0;
  }
  100% {
    width: 21.5ch;
  }
}
.c-primary {
  color: #24E98C;
}

.th-btn {
  color: var(--theme-color);
  border: 2px solid var(--white-color);
  padding: 5px 20px;
}

.th-btn:hover {
  background-color: var(--theme-color);
}

.th-title {
  color: var(--theme-color);
  padding: 10px 20px;
  border-radius: 50px;
  display: inline-block;
  box-shadow: 0 2px 8px var(--theme-color);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.th-slider {
  display: flex;
  font-size: 18px;
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 2px 8px var(--theme-color);
  margin-bottom: 30px;
  text-transform: uppercase;
}

.th-title:hover {
  background: var(--theme-color);
  color: var(--white-color);
}

.th-color {
  color: var(--theme-color-2);
}

.sub-title {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

button.slick-next.slick-arrow {
  display: none;
}

.th-title-3 {
  font-size: 16px;
  color: var(--theme-color);
  padding: 10px 20px;
  border-radius: 50px;
  display: inline-block;
  border-bottom: 2px solid var(--theme-color);
  border-left: 2px solid var(--theme-color);
  border-right: 2px solid var(--theme-color-2);
  border-top: 2px solid var(--theme-color-2);
  border-width: 70% 100% 70% 100%;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.th-title-3:hover {
  border-bottom: 2px solid var(--theme-color-2);
  border-left: 2px solid var(--theme-color-2);
  border-right: 2px solid var(--theme-color);
  border-top: 2px solid var(--theme-color);
  transition: 0.3s;
  color: var(--theme-color-2);
}

.th-title-3 svg {
  color: var(--theme-color-2);
  margin-right: 5px;
}

.th-title-3:hover .th-title-3 svg {
  color: var(--theme-color);
}

a.active-menu {
  color: var(--theme-color-2);
  box-shadow: 0 2px 8px var(--theme-color);
  border-radius: 50px;
  background-color: #fff;
}

.container-intro {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
  box-sizing: border-box;
}

.bg-trans {
  background-color: transparent;
}

.bg-amber {
  background-color: var(--theme-color);
}

.bg-green {
  background-color: var(--theme-color-2);
}

.z-1 {
  z-index: 1;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.opacity-50 {
  opacity: 50%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-green {
  color: var(--theme-color-2);
}

.text-amber {
  color: var(--theme-color);
}

.text-white {
  color: var(--white-color);
}

.text-gray {
  color: var(--gray-color);
}

.text-p {
  color: var(--icon-color-p);
}

.text-b {
  color: var(--icon-color-b);
}

.hover-text-white:hover {
  color: var(--white-color);
}

.text-xs {
  font-size: 12px;
  line-height: 16px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-base {
  font-size: 16px;
  line-height: 24px;
}

.text-lg {
  font-size: 18px;
  line-height: 28px;
}

.text-xl {
  font-size: 20px;
  line-height: 28px;
}

.text-2xl {
  font-size: 24px;
  line-height: 32px;
}

.text-3xl {
  font-size: 30px;
  line-height: 36px;
}

.text-4xl {
  font-size: 36px;
  line-height: 40px;
}

.text-5xl {
  font-size: 48px;
  line-height: 1;
}

.text-6xl {
  font-size: 60px;
  line-height: 1;
}

.text-7xl {
  font-size: 72px;
  line-height: 1;
}

.text-8xl {
  font-size: 96px;
  line-height: 1;
}

.text-9xl {
  font-size: 128px;
  line-height: 1;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: end;
}

.hidden {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.static {
  position: static;
}

.rotate--90 {
  rotate: -90deg;
}

.border-0 {
  border: none;
}

.border-2 {
  border: 2px;
}

.border-4 {
  border: 4px;
}

.border-6 {
  border: 6px;
}

.border-primary {
  border-color: var(--theme-color);
}

.border-secondary {
  border-color: var(--theme-color-2);
}

.container-nav {
  width: 1600px;
  margin: 0 auto;
}

.rounded {
  border-radius: 4px;
}

.rounded-md {
  border-radius: 6px;
}

.rounded-t-lg {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.rounded-b-lg {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-l-lg {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-r-lg {
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-lg {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 50%;
}

.rounded-medium {
  border-radius: 50px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-md {
  margin-top: 50px;
  margin-bottom: 50px;
}

.my-lg {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-xl {
  margin-top: 120px;
  margin-bottom: 120px;
}

.my-xxl {
  margin-top: 160px;
  margin-bottom: 160px;
}

.py-1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-5 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-md {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-lg {
  padding-top: 80px;
  padding-bottom: 80px;
}

.py-xl {
  padding-top: 100px;
  padding-bottom: 100px;
}

.py-2xl {
  padding-top: 120px;
  padding-bottom: 120px;
}

.py-3xl {
  padding-top: 160px;
  padding-bottom: 160px;
}

.px-1 {
  padding-right: 4px;
  padding-left: 4px;
}

.px-2 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-3 {
  padding-right: 12px;
  padding-left: 12px;
}

.px-4 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-5 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.px-md {
  padding-right: 80px;
  padding-left: 80px;
}

.px-xl {
  padding-right: 120px;
  padding-left: 120px;
}

.px-xxl {
  padding-right: 160px;
  padding-left: 160px;
}

.px-auto {
  padding: auto;
}

.pyx4 {
  padding: 6px 24px;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.hover:amber {
  color: var(--theme-color-2);
}

.hover:green {
  color: var(--theme-color);
}

.w-20px {
  width: 20px;
}

.w-30px {
  width: 30px;
  height: 30px;
}

.w-50px {
  width: 50px;
  height: 50px;
}

.th-border {
  border-bottom: 2px solid var(--theme-color);
  border-left: 2px solid var(--theme-color);
  border-right: 2px solid var(--theme-color-2);
  border-top: 2px solid var(--theme-color-2);
}

.th-border:hover {
  border-bottom: 2px solid var(--theme-color-2);
  border-left: 2px solid var(--theme-color-2);
  border-right: 2px solid var(--theme-color);
  border-top: 2px solid var(--theme-color);
}

.header-left {
  margin-top: 50px;
  display: block;
  align-items: center;
  left: 30px;
}
.header-left-logo {
  position: absolute;
  top: 30px;
  left: 30px;
  border-radius: 50%;
  background-color: var(--dark-color-3);
  padding: 8px;
  width: 40px;
  border-left: 1px solid var(--theme-color);
  border-right: 1px solid var(--theme-color-2);
  border-top: 1px solid var(--theme-color);
  border-bottom: 1px solid var(--theme-color-2);
}
.header-left-box {
  position: relative;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--gray-color);
  border-radius: 20px;
  padding: 15px 10px 300px 10px;
}
.header-left-box-content {
  margin-bottom: 30px;
}
.header-left-box-content-title {
  font-size: 48px;
  color: var(--theme-color-2);
}
.header-left-box-content-subtitle {
  font-size: 36px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 1.3px;
  text-align: center;
}
.header-left-box-icon svg {
  padding: 10px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
}
.header-left-box-icon a:hover {
  color: var(--theme-color-2);
}
.header-left-box-btn {
  background-color: var(--theme-color-2);
  letter-spacing: 1.1px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 15px;
  margin-bottom: 24%;
}
.header-left-box-btn:hover {
  color: var(--white-color);
  background-color: transparent;
  border: 2px solid var(--theme-color-2);
}
.header-left-box-copyright {
  margin-top: 15px;
  color: var(--gray-light-color);
}

.header-right {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  height: 100vh;
  margin: 0 auto;
  display: none;
  align-items: center;
}
.header-right .brand-logo {
  text-align: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-right: 3px solid var(--theme-color-2);
  border-left: 3px solid var(--theme-color);
  border-radius: 30%;
  margin-top: 30px;
}
.header-right .brand-logo a {
  color: var(--white-color);
  font-weight: 700;
}
.header-right .header-right-menu {
  position: relative;
  margin-left: 15px;
}
.header-right .header-right-menu-nav {
  margin-bottom: 50px;
}
.header-right .header-right-menu-nav svg {
  font-size: 20px;
  padding: 10px;
  color: var(--gray-color);
  border: 2px solid var(--theme-color-2);
  box-shadow: 0 2px 8px var(--theme-color-2);
  border-radius: 50%;
}
.header-right .header-right-menu .header-right-list .header-right-item {
  margin: 20px 0;
  margin-right: 15px;
  padding: 10px;
  display: flex;
  justify-self: center;
  border-radius: 50px;
}
.header-right .header-right-menu .header-right-list .header-right-item .header-right-drop-down {
  position: absolute;
  left: 450px;
}
.header-right .header-right-menu .header-right-list .header-right-item a {
  font-size: var(--smaller);
  font-weight: var(--medium-fw);
  text-transform: uppercase;
  color: var(--gray-color);
  letter-spacing: 2px;
}
.header-right .header-right-menu .header-right-list .header-right-item a svg {
  font-size: 20px;
  padding: 10px;
  color: var(--gray-color);
  border: 2px solid var(--theme-color);
  box-shadow: 0 2px 8px var(--theme-color);
  border-radius: 50%;
}
.header-right .header-right-menu .header-right-list .header-right-item a .header-right-list-name {
  margin-left: 10px;
  display: none;
}
.header-right .header-right-menu .header-right-list .active {
  border: 2px solid var(--theme-color) !important;
}
.header-right .header-right-menu .header-right-list .active a {
  color: var(--white-color);
}
.header-right .header-right-menu .header-right-list .active a svg {
  color: var(--white-color);
}

.intro-img-shape {
  position: absolute;
  width: 360px;
  height: 360px;
  right: 0;
  left: 0;
  bottom: -30px;
  background-color: #D9832E;
  margin: 0 auto;
  border-radius: 75% 20px 0px 20px;
  rotate: 44.5deg;
  z-index: 1;
  border: 10px solid var(--dark-color-light);
}

img.intro-img {
  position: absolute;
  width: 70%;
  height: auto;
  z-index: 999;
  right: 0;
  left: 1%;
  margin: 0 auto;
  bottom: -11%;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 80%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 58%, 50% 100%, 0 60%, 0 0);
}

.hero-area {
  position: relative;
}
.hero-area-shape {
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.hero-area-icon a {
  font-size: 20px;
}
.hero-area-icon svg:hover {
  color: var(--theme-color-2);
}
.hero-area img {
  border-bottom-right-radius: 50%;
}

.home-section {
  display: flex;
  align-items: center;
  margin-top: 60px;
}
.home-section h1 {
  font-size: var(--h1-fs);
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
}
.home-section h2 {
  font-size: var(--h2-fs);
}
.home-section h2.devs {
  float: right;
}
.home-section-btn a {
  color: var(--white);
}
.home-section .designer {
  display: none;
}
.home-section .skill-btn {
  display: flex;
  color: var(--theme-color-2);
}
.home-section .skill-btn svg.skill-btn-active {
  color: var(--theme-color-2);
}
.home-section .skill-btn svg {
  margin: 2px 10px;
  color: var(--theme-color);
}
.home-section .designer-area {
  display: none;
}
.home-section .intro-area-content h1 {
  font-size: 60px;
}
.home-section .intro-area-content p {
  width: 90%;
  color: #f1f1f1;
  margin-top: 40px;
  margin-bottom: 40px;
}
.home-section .intro-area-content .intro-btn a {
  color: var(--white);
}
.home-section .intro-area-content .work-btn {
  margin-right: 30px;
}
.home-section-img a {
  color: #fff;
}
.home-section-img img {
  width: 100%;
  background: linear-gradient(-377deg, #D9832E, transparent, transparent);
  transition: 0.3s;
  border-radius: 50%;
}
.home-section-img-btn-1 {
  position: absolute;
}
.home-section-img-btn-2 {
  position: absolute;
}
.home-section-img img:hover {
  border-top: 3px solid var(--theme-color-2);
  box-shadow: 0 4px 16px var(--theme-color);
  border: rotate(30deg);
}

.home-area-3 {
  display: inline-block;
  transform: translateY(200px);
}
.home-area-3 .ball {
  background: #FFFFFF;
  width: 10px;
  height: 10px;
  position: relative;
  top: 45px;
  left: 10px;
}

.hero-area-icon {
  width: 50%;
}

.about-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-2-img {
  position: relative;
  position: relative;
  border: 15px solid var(--theme-color);
}
.about-2-img img {
  width: 100%;
}
.about-2-img-2 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
.about-2-img-social-icon {
  position: absolute;
  top: 40px;
  left: 15px;
}
.about-2-img:hover .about-2-img-2 {
  display: block;
  transform: scale(1.05);
  border: 10px solid var(--theme-color);
  transition: transform 0.2s;
}
.about-2-content h4 {
  font-size: 40px;
  margin-bottom: 20px;
}
.about-2-content h6 {
  font-size: 20px;
  text-transform: capitalize;
}
.about-2-content p {
  width: 80%;
  line-height: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: justify;
}

.skills-progress-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
  color: var(--theme-color-2);
}
.skills-progress-title svg {
  color: #fff;
  margin-right: 10px;
  margin-left: 5px;
}
.skills-progress-bar {
  position: relative;
  background-color: var(--gray-color);
  border-radius: 30px;
  text-align: right;
  padding-right: 10px;
  width: 95%;
}
.skills-progress-bar-inner {
  position: absolute;
  background-color: var(--theme-color);
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  border-radius: 30px;
}
.skills-tools {
  margin-top: 30px;
}
.skills-tools-box {
  text-align: center;
  border: 2px solid var(--theme-color-2);
  display: inline-block;
  padding: 24px;
  border-radius: 48%;
  border-bottom: 2px solid var(--theme-color-2);
  border-left: 2px solid var(--theme-color-2);
  border-right: 2px solid var(--theme-color);
  border-top: 2px solid var(--theme-color);
  margin-bottom: 20px;
  margin-right: 20px;
}
.skills-tools-box-icon svg {
  font-size: 36px;
  color: var(--theme-color);
}
.skills-tools-box-number {
  font-size: 24px;
  color: var(--theme-color-2);
}
.skills-tools-box:hover {
  border-bottom: 2px solid var(--theme-color);
  border-left: 2px solid var(--theme-color);
  border-right: 2px solid var(--theme-color-2);
  border-top: 2px solid var(--theme-color-2);
}
.skills-tools-box:hover .skills-tools-box-icon {
  color: var(--theme-color-2);
}
.skills-tools-box:hover .skills-tools-box-number {
  color: var(--theme-color);
}

.services-box {
  background-color: var(--white-color);
  color: #000;
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 40px;
  font-weight: 400;
}
.services-box-icon {
  border: 3px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 15px;
  color: var(--theme-color);
}

.skills-tools-box:hover .skills-tools-box-icon svg.svg-inline--fa {
  color: var(--theme-color-2);
}

.hidden {
  transform: translateX(0);
  transition: all 1s;
}

.show {
  transform: translateX(-10%);
}

.testimonial-2 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.testimonial-2-title .section-title {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 60px;
}
.testimonial-2 .partner-img {
  display: flex;
  overflow: hidden;
}
.testimonial-2 .partner-img-item img {
  width: 70%;
  margin: 30px;
  opacity: 0.4;
}
.testimonial-2 .partner-img-item img:hover {
  opacity: 0.9;
}
.testimonial-2-slider {
  display: flex;
}
.testimonial-2-slider-item {
  padding: 30px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
}
.testimonial-2-slider-box {
  margin: 5px;
}
.testimonial-2-slider-box-authore {
  display: flex;
  margin-bottom: 30px;
}
.testimonial-2-slider-box-authore img {
  width: 70%;
  border-radius: 50%;
}
.testimonial-2-slider-box-authore-text {
  margin-top: 15px;
}
.testimonial-2-slider-box-authore-text h5 {
  font-size: 16px;
}
.testimonial-2-slider-box-authore-text p {
  font-size: 12px;
  text-transform: capitalize;
}
.testimonial-2-slider-box-text {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.testimonial-2-slider-box h6.testimonial-2-slider-sub-title {
  font-size: 14px;
}

.section {
  width: 250px;
  margin: 40px auto;
  transform-style: preserve-3d;
  transform: translateZ(100px);
}

.card {
  width: 250px;
  padding: 10px;
  text-align: justify;
  transform-style: preserve-3d;
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
  background-color: #ddd;
}

.card-image {
  width: 230px;
  transform-style: preserve-3d;
  transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -o-transform: translateZ(100px);
}

.card-text,
.card-title {
  transform-style: preserve-3d;
  transform: translateZ(50px);
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  -ms-transform: translateZ(50px);
  -o-transform: translateZ(50px);
}

footer .footer-area a:hover {
  color: var(--theme-color);
}
footer .footer-area-top {
  display: flex;
}
footer .footer-area-top-text {
  width: 70%;
  text-align: justify;
}
footer .footer-area-top-logo {
  background-color: var(--theme-color);
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 20px;
  width: 150px;
  font-size: 14px;
  letter-spacing: 3px;
}
footer .footer-area-top-wedget {
  text-align: center;
}
footer .footer-area-top-wedget-title {
  text-align: center;
  font-size: 16px;
  color: var(--theme-color);
  margin-bottom: 20px;
}
footer .footer-area-top-wedget li {
  margin-bottom: 5px;
}
footer .footer-area-top .footer-icon {
  text-align: center;
}
footer .footer-area-top .footer-icon svg {
  padding-right: 10px;
}
footer .footer-area-top .footer-icon a:hover {
  color: var(--theme-color);
}
footer .footer-area-bottom {
  margin-top: 20px;
  display: flex;
}
footer .footer-area-bottom .terms-privacy {
  float: right;
}
footer .footer-area-bottom .terms-privacy li {
  display: inline-block;
  padding-right: 30px;
}
footer .copyright-section {
  display: flex;
  background-color: var(--gray-color);
}
footer .copyright-section .footer-area-3-bottom {
  display: flex;
  position: fixed;
  bottom: 0;
}
footer .copyright-section .footer-area-3-bottom li {
  display: inline;
  padding-right: 20px;
}

/*# sourceMappingURL=style.css.map */
